{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <img class="img-custom" src="{% static "images/dog.png" %}" alt="My image">
    {% for dog in dogs %}
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">{{ dog.name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Dog number {{ dog.id }}</h6>
                <p class="card-text">{{ dog.name }} is a wonderful dog!</p>
                <a href="{% url 'dog_detail' dog.id %}" class="btn btn-primary">Learn more about {{ dog.name }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock content %}




